*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/

--- INTELLIJ / ANDROID STUDIO ---

*.iml
*.ipr
*.iws
.idea/

--- VS CODE ---

.vscode/

--- FLUTTER / DART / PUB (Quan trọng) ---

Dùng **/ để tìm trong mọi thư mục con

**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/          # Chặn thư mục build ở mọi nơi
**/coverage/

--- ANDROID ---

**/android/.gradle/
**/android/local.properties
**/android/app/build/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat

--- IOS ---

**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/Podfile.lock

--- NODE.JS / BACKEND (Quan trọng) ---

**/node_modules/
**/npm-debug.log
**/yarn-error.log

--- ENVIRONMENT VARIABLES (Bảo mật) ---

**/.env
**/serviceAccountKey.json
**/google-services.json
**/firebase_options.dart